<a href="https://colab.research.google.com/github/ChekkaHarshaVardhan/AI_ML_Avanthi_Harsha/blob/main/Day2%263.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
count=1
for i in range(1,5):
  for j in range(i):
    print(count,end=" ")
    count +=1
  print("\n")

1

2 3

4 5 6

7 8 9 10

In [13]:
for i in range(5,0,-1):
  print(" ")
  for j in range(i):
    print("*",end=" ")
print("\n")

* * * * *
* * * *
* * *
* *
*

In [14]:
count = 2
for i in range(4,0,-1):
  for j in range(i):
    print(count,end=" ")
    count+=2
  print("\n")

2 4 6 8

10 12 14

16 18

20

In [15]:
n=[1,32,24,13,97,1,8,14,99,34,5,56,8,23]
sum=0
for i in n:
   if i%2==0:
     sum += i
print(sum)

176

In [16]:
my_dict={
"name":"madhav",
"age":22,
"phonenumber":8374229100,
"favorite food":"chicken"
}
print(my_dict)

{'name': 'madhav', 'age': 22, 'phonenumber': 8374229100, 'favorite food': 'chicken'}

In [17]:
x=[3,3,5,5,3,3,7,7,5,3,7,5]
dict={}
distinct=set(x)
for i in distinct:
  dict[i]=0
for i in range (len(x)):
   dict[x[i]]+=1
print(dict)

{3: 5, 5: 4, 7: 3}